body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background: #a72889;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background: #882170;
}

a {
    color: #dd00ff;
}

a:hover {
    text-decoration: underline;
}
